<mat-card>
	<mat-card-header>
		<mat-card-title class="list-title">{{ listTitle }}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<table
			mat-table
			[dataSource]="dataSource"
			class="mat-elevarion-z8 list-table"
		>
			@for (header of listHeaders; track $index) { @if (header !== "buttons") {
			<ng-container matColumnDef="{{ header }}">
				<th
					mat-header-cell
					*matHeaderCellDef
				>
					{{ humanizeLabel(header) }}
				</th>
				<td
					mat-cell
					*matCellDef="let element"
				>
					{{ element[header] }}
				</td>
			</ng-container>
			} @else {
			<ng-container matColumnDef="buttons">
				<th
					mat-header-cell
					*matHeaderCellDef
				></th>
				<td
					mat-cell
					*matCellDef="let element"
					class="list-button-cell"
				>
					<button
						class="list-row-button"
						mat-raised-button
						[disabled]="false"
						(click)="onEditButtonClicked(this.element['correlationId'])"
					>
						Edit
					</button>
				</td>
			</ng-container>
			} }
			<tr
				mat-header-row
				*matHeaderRowDef="listHeaders"
			></tr>
			<tr
				mat-row
				*matRowDef="let row; columns: listHeaders"
			></tr>
		</table>
	</mat-card-content>
</mat-card>
